<!--Section: Team v.2-->
<section class="section team-section pb-3">

  <div class="row text-center">

      <!--Grid column-->
      <div class="col-md-4 mb-r">

          <div class="avatar">
              <img src="assets/images/img%20(10).jpg" class="z-depth-1" alt="First sample avatar image">
          </div>
          <h4>Maria Kate</h4>
          <h5>Photographer</h5>

          <!--Facebook-->
          <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
          <!--Dribbble-->
          <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbRippleRadius><i class="fa fa-dribbble"></i></a>
          <!--Twitter-->
          <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-r">

          <div class="avatar">
              <img src="assets/images/img%20(3).jpg" class="z-depth-1" alt="Second sample avatar image">
          </div>
          <h4>John Doe</h4>
          <h5>Front-end Developer</h5>

          <!--Email-->
          <a type="button" class="btn-floating btn-small btn-email waves-light" mdbRippleRadius><i class="fa fa-envelope"></i></a>
          <!--Facebook-->
          <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
          <!--GitHub-->
          <a type="button" class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"></i></a>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-r">

          <div class="avatar">
              <img src="assets/images/img%20(31).jpg" class="z-depth-1" alt="Third sample avatar image">
          </div>
          <h4>Sarah Melyah</h4>
          <h5>Web Developer</h5>

          <!--Linkedin-->
          <a type="button" class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin "></i></a>
          <!--Twitter-->
          <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter "></i></a>
          <!--Pinterest-->
          <a type="button" class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest "></i></a>

      </div>
      <!--Grid column-->
  </div>

</section>